@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--color-black: #1a1a1a;
	--color-orange: #ff6b35;
	--color-pink: #ff006e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
